harmonypy @ git+https://github.com/slowkow/harmonypy@182a5c6e0fc954cb0b4db5074e507adb7a8293f3
#scalex @ git+https://github.com/milescsmith/SCALEX@1.3.0
revseq @ git+https://github.com/milescsmith/revseq@0.2.0
muon @ git+https://github.com/milescsmith/muon.git@version_update
snapatac2==2.6.0
scanpy @ git+https://github.com/scverse/scanpy
fingerling @ git+https://github.com/milescsmith/fingerling@e60aaf26e903c836c1345e8a7e6f1ff54050731a
sckikit-misc==0.3.1